<% layout('boilerplate') -%>

    <h1>Shop Smart, save Big</h1>
    <p>Starting point to create the store</p>

    <p>Sign up to start Buying</p>
    <h3>Start your search here</h3>
    <p>Our prices are the some of the best on the web</p>



    <h3>Look for smart items</h3>
    <p>These will apppear across the site as you add to your cart</p>


    <h3>Build A Smart Cart</h3>
    <p>The more items you buy togeher, the more you save!</p>